# Dependencies
node_modules

# Build outputs
dist
dist-ssr
build
coverage

# Logs
logs
*.log

# Local files
*.local

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git

# IDE
.idea

# System files
.DS_Store
