@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-subcult-purple: #3b0a45;
  --color-subcult-yellow: #f4ff4a;
  --color-subcult-green: #a5ff00;
  --color-subcult-black: #0f0f0f;
  --color-subcult-orange: #ff6600;
  
  --font-family-mono: "JetBrains Mono", monospace;
  --font-family-sans: Inter, sans-serif;
}

